footer {

    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5rem;
    line-height: 12px;
    color: $color-blanco;
    & .valida-sm{
        font-size: 4px;
    }
    & .valida{
        line-height: 5px;
    }
    & .embotelladoras {
        font-size: 6px;
    }
    & .bg-blanco {
        background-color: $color-blanco;
        height: 35px;
        
        & .convenio {
            max-height: 28px;
        }
    }

    & .bg-red {
        background-color: $color-red;
        color: $color-blanco;
        height: 45px;
    
        & p {
            margin-top: .5rem;
            line-height: 9px;
        }
        & .agencia {
            margin-top: .5rem; 
            width: 10rem;
        }

        & .agencia-text {
            font-weight: 100;
            font-size: 7px;
        }
        & .terminos{
            margin-top: .8rem;
        }
        & .rrss {

            margin-top: .5rem;

            & .siguenos {
                width: 100px;
                margin-right: 10px;
            }
            & .ico {
                margin-left: 5px;
                width: 20px;
            }
        }
        
    }


    
}