@media (max-width: 575px) {

    .is-mobile { display: block; }
    .is-desktop { display: none; }

    footer { border-bottom: solid 1px yellow; }

    body,
    html {
        background: url(../img/home/bg-sm.png) no-repeat center top;
    }
    #menu-byp {
        
        & .logo-byp {
            max-width: 90px;
        }
    }

    header { position: relative; z-index: 1050; }
    #menu-byp .navbar-collapse {
        position: absolute;
        top: 100%;          /* justo bajo la barra */
        left: 0;
        right: 0;
        width: 100%;
        padding: .75rem 1rem;
        z-index: 1050;      /* por encima del main */
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    /* Mejora de toque para items */
    #menu-byp .nav-link { padding: .75rem 1rem; }
    
    .bill-y-mike-alternativa {
        display: none;
    }
    .pasos {
        margin-top: 50px;
    }
    .rellena {
        margin-top: 5rem;
        max-width: 75% !important;
        
    }
    #page-seleccion {
        & .favorito {
            margin-top: 60px;
        }
    }
    #page-preguntas {
        & .tit-frecuentes {
            margin-top: 50px;
        }
    }
    #page-ganadores {
        & .carousel-control-next {
            right: -30px !important;
            opacity: 1;
        }
        & .carousel-control-prev {
            left: -30px !important;
            opacity: 1;
        }

        & .ganadores-de-la-semana {
             margin-top: 60px;
        }
        & .detalle {
            font-size: .4rem !important;
        }
        & .tipo {
            font-size: .4rem !important;
        }
        & .titulo { font-size: .7rem;}
        & .tit_nombre { }
        & .tit_rut { width: 70px; }
        & .tit_premio { }
        & .tit_lugar { }
        
    }

    #page-premio {
        
        font-size: .4rem !important;

        & .entradas {
            font-size: .5rem !important;
        }
        & .destacado {
            padding-top: 2px;
            font-size: .5rem !important;
        }
        & .txt-premios {
            margin-top: 60px;
        }
    }
    
    #navbarBYP {
        & .nav-link {
            text-align: center;
        }
    } 
    #menu-tico .logo-tico {
        max-width: 200px;
    }

    #page-seleccion {
        & .ticket {
            max-width: 100%;
        }
        & .btnEnviarSeleccion {
            max-width: 100%;
        }
    }

    footer {

        font-size: .5rem;
        line-height: 12px;
        
        & .bg-blanco {
            background-color: $color-blanco;
            height: 35px;
            
            & .convenio {
                max-height: 28px;
            }
        }

        & .bg-red {
            background-color: $color-red;
            color: $color-blanco;
            height: auto; /* deja que el contenido defina la altura */
            //padding: 8px 0; /* y ajusta espacio interno */
            
            & p {
                margin-top: .3rem;
                line-height: 6px;
            }
            & .fw-semibold {
                line-height: 5px;
            }
            & .agencia-sm {
                margin-top: .2rem; 
                width: 15px;
            }
            & .terminos{
                margin-top: .8rem;
            }
            & .rrss {

                margin-top: .5rem;

                & .siguenos {
                    width: 90px;
                    margin-right: 2px;
                }
                & .ico {
                    padding: 2px;
                    width: 20px;
                }
            }
            
        }


        
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .is-mobile { display: block; }
    .is-desktop { display: none; }

    footer { border-bottom: solid 1px red; 
        & .bg-red {
            height: auto; /* deja que el contenido defina la altura */
            padding: 8px 0; /* y ajusta espacio interno */
        }
    }

    body,
    html {
        background: url(../img/home/bg-sm.png) no-repeat center top;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .is-mobile { display: block; }
    .is-desktop { display: none; }
    
    body,
    html {
        background: url(../img/home/bg.png) no-repeat center center;
    }

    footer { border-bottom: solid 1px blue; 

        & .bg-red {
            height: auto; /* deja que el contenido defina la altura */
            padding: 8px 0; /* y ajusta espacio interno */
        }
    }

    

}
/* Centrar logo solo en pantallas pequeñas */
@media (max-width: 991.98px) { /* lg breakpoint de Bootstrap */
  #page-index #menu-byp .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }

    body,
    html {
        background: url(../img/home/bg.png) no-repeat center bottom;
    }
    
    footer { border-bottom: solid 1px pink; }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }

    body,
    html {
        background: url(../img/home/bg.png) no-repeat center bottom;
    }
  

    footer { border-bottom: solid 1px green; }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }

    body,
    html {
        background: url(../img/home/bg.png) no-repeat center bottom;
    }
    
    #page-premio {
        & .txt-premios {
            margin-top: -20px;
            max-width: 50%;
        }    
        & .interior {
            padding: 0rem 3rem;
        }
    }
    #page-como-participar {
        & .pasos {
            margin-top: -30px;
            padding: 0rem 4rem;
        }    
        
    }
    #page-seleccion {
        & .favorito {
            max-width: 60%;
            margin-top: -30px;
        } 
        & .cartas {
            padding: 0rem 4rem;
        }

        & .ticket{
            max-width: 150px;
        }
    }
    #formulario {

        & form {
            width: 75%;
            font-size: .9rem;
            font-weight: 600;
        }
        
        & .rellena {
            margin-top: -35px;
            max-width: 45% !important;
        }  
    }
    #page-ganadores {
        & .ganadores-de-la-semana {
             margin-top: -20px;
        }
        & #carouselLPC {
            padding: 0rem 2rem;
        }   
    }

    #page-preguntas {
        & .tit-frecuentes {
            margin-top: -30px;
            max-width: 60%;
        }    
        & .accordion {
            padding: 0rem 1rem;
        }
    }
    
  
    footer { border-bottom: solid 1px orange; }
}

