@media (max-width: 575px) {

    .is-mobile { display: block; }
    .is-desktop { display: none; }

    footer { border-bottom: solid 1px yellow; }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .is-mobile { display: block; }
    .is-desktop { display: none; }

    footer { border-bottom: solid 1px red; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .is-mobile { display: block; }
    .is-desktop { display: none; }
    
    footer { border-bottom: solid 1px blue; }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }
    
    footer { border-bottom: solid 1px pink; }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }

    footer { border-bottom: solid 1px green; }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .is-mobile { display: none; }
    .is-desktop { display: block; }

    footer { border-bottom: solid 1px orange; }
}