//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

// Espaciados de 10 en 10 hasta 100px
@for $i from 1 through 10 {
  .space-#{$i * 10} {
    width: 100%;
    display: block;
    height: #{$i * 10}px;
  }
}

// Colores
$color-blanco: #ffffff;
$color-rojo: #cc0134;
$color-negro: #000000;